/*ESP: 1*/
h1,h2,h3,h4{
      font-weight:bold;
      font-family: sans-serif;
      text-align: center;
      text-transform: uppercase;
}
/*ESP: 1*/
h1,h2,h3{
      background-color: darkred; 
      color: #fff;
}
/*ESP: 1*/
h2,h4{
      font-style: italic;
}
/*ESP: 1*/
h1,h3{
      font-stretch: expanded;
}
/*ESP: 1*/
h1 {
      
      text-transform: uppercase;
      padding: 100px 25px; 
      font-size: 4em;  
      white-space: initial;
}
/*ESP: 1*/
h2{
      font-size: 3em; 
}
/*ESP: 1*/
h3{
      font-size: 2em;
}
/*ESP: 1*/
h4{
      font-size: 1.5em;
      background-color: #3390FF;
      color: #fff;
}