/*ESP: 1*/
body{
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "header header"
                           "aside section"
                           "footer footer";
}
/*ESP: 1*/
header{
      grid-area: header;
}
/*ESP: 1*/
aside{
      grid-area: aside;
      font: italic;
      font-family: 'Trebuchet MS';
      color: darkred;
}
/*ESP: 1*/
section{
      grid-area: section;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
}
/*ESP: 1*/
footer{
      grid-area: footer;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
}
/*ESP: 1*/
img{
      align-items: center;
      justify-content: center;
}
/*ESP: 12*/
@media(max-width:375px){
      body{
            grid-template-columns: 1fr;
            grid-template-areas: "header"
                                 "aside"
                                 "section"
                                 "footer";
      }   
}